$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Noto Sans KR', sans-serif;


$color-primary:#1A1A1A;
$color-secondary: #FFFFFF;
$color-orange: #ea4913;
$color-light-orange:#f96400;
$color-blue: #0565bb;
$color-yellow: #fcd32a;

$body-font-size: 1.6rem;
$body-font-weight: 400;



*{
    box-sizing: border-box;
}
html{
    font-family: $font-primary;
    color: $color-secondary;
    font-size: 62.5%;
    font-weight: $body-font-weight;
    scroll-behavior: smooth;
}
body{
    margin-bottom: 10rem;
    font-size:$body-font-size;
}
  
h1{
    font-size: 15rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: normal;
    text-align: center;
    -webkit-text-stroke: .4rem #111;
    text-transform: uppercase;
}

h2{
    font-size: 5rem;
    font-weight: 800;
    font-stretch: normal;
    line-height: 0.54;
    letter-spacing: normal;
    text-transform: uppercase;
}

h3{
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 6rem;
    letter-spacing: .45rem;
}
h4{
    font-family: $font-secondary;
    font-size: 3.5rem;
    line-height: 3rem;
    font-weight: 600;
}
h5{
    font-size: 2rem;
    font-weight:bold;
    line-height:2.5rem;
    text-transform: uppercase;
}


img{
    width: 100%;
    height: auto;
}
a{
    color: $color-secondary;
    text-decoration: none;
}
button{

    cursor: pointer;
    background: transparent;
    outline: none;
    border:none;
  
}


.container{
    padding-left: 17.5rem;
    padding-right: 17.5rem;
}

//------------------------------------------nav--------------------------------
.nav{
    background-color:$color-primary;
    padding: 2.7rem 9rem;
    &__container{
       display: flex;
       justify-content: space-between;
       align-items: center;
    }
    &__logo{
        width: 22.6rem;
        height: 2.6rem;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        >:not(:last-child){
            margin-right: 5rem;
        }
    }
    &__item{
        text-transform: uppercase;
        font-size:  1.4rem;
    }
    &__login{
        border-left: 1px solid $color-secondary;
        padding-left:4.4rem;
    }
}


//------------------------------------------header--------------------------------

.header{
    background-color: $color-orange;
    padding: 12rem 0rem;
    overflow: hidden;
    &__title{
        color: $color-primary;
        text-align: center;
        font-style: italic;
    }
    &__heading{
        margin: 9.1rem 0rem;
        text-shadow: 0rem 1rem $color-primary;
    }
    &__star{
        position: relative;
        &::before{
            position:absolute;
            width: 14rem;
            height: 14rem;
            content: "";
            background-color:$color-yellow;
            clip-path: polygon(49% 1%, 62% 31%, 77% 16%, 72% 37%, 85% 30%, 79% 44%, 98% 46%, 80% 56%, 88% 68%, 74% 67%, 79% 79%, 65% 75%, 58% 95%, 51% 77%, 38% 84%, 41% 69%, 28% 72%, 34% 59%, 3% 56%, 32% 47%, 15% 37%, 34% 38%, 26% 25%, 43% 29%);
            left: -15rem;
            bottom:0rem;
        }
    }
    &__triangle{
        margin-right: 15rem;
        position: relative;
    }
    &__triangle::after{
        content: "";
        width: 0; 
        height: 0; 
        border-bottom: 16rem solid $color-yellow; 
        border-left: 8rem solid transparent; 
        border-right: 8rem solid transparent; 
        position:absolute;
        right: -15.5rem;
    }
    &__bubble{
        position:relative;
            &::before{
                content: "!!!!!";
                color: $color-primary;
                font-style: italic;
                padding:2rem 8.2rem 2rem 5rem;
                background:$color-blue;
                border-radius:8rem;
                border: solid 3px #020001;
                position:absolute;
                right: -37rem;
                top: -5rem;
                text-shadow: none;
            }
            &::after{
                content:'';
                position:absolute;
                width:0;
                height:0;
                border-top:5rem  solid  $color-blue;
                border-right:5rem  solid  transparent;
                bottom:2rem;
                right: -10rem;
            }
    }

 
    &__thirsties{
        position: relative;
        &::after{
            content:"thirties";
            position:absolute;
            font-size: 4.35rem;
            font-weight: 800;
            font-stretch: normal;
            font-style: italic;
            line-height: 0.39;
            letter-spacing: normal;
            background-color: $color-blue;
            padding:13rem 5rem;
            text-shadow: none;
            clip-path: polygon(5% 55%, 0% 50%, 12% 48%, 8% 33%, 20% 43%, 27% 33%, 32% 44%, 38% 34%, 41% 44%, 50% 34%, 52% 46%, 62% 34%, 62% 47%, 74% 33%, 76% 49%, 83% 38%, 86% 50%, 95% 41%, 95% 52%, 98% 61%, 90% 62%, 90% 70%, 81% 69%, 81% 76%, 70% 70%, 66% 78%, 60% 69%, 51% 80%, 49% 70%, 39% 80%, 38% 70%, 23% 80%, 27% 68%, 13% 77%, 14% 66%, 3% 67%);
            top: -15rem;
            right: -18rem;
            transform: rotate(-15deg);
        }
    }
    &__nav{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $color-primary;
        &--button{
            border: 3px solid $color-primary;
            border-radius: 2.55rem;
            padding:1.2rem 3.6rem;
            font-size: 2rem;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.35;
            letter-spacing: normal;
            text-transform: uppercase;
        }
        &--arrow{
            font-size: 6.4rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.75;
            letter-spacing: normal;
        }
        &--mid{
            padding: 1.8rem;
            width: 13.4rem;
            border-top: 4px solid $color-primary;
            border-bottom:4px solid $color-primary;
            margin: 0rem 12rem;
            font-weight: 800;
        }
        :first-child{
            margin-right: 11.3rem;
        }
        :last-child{
            margin-left: 11.3rem;
        }
    }
}





//------------------------------------------introduction--------------------------------
.intro{
    background: url(../src/assets/introduction-bg.png);
    padding-top: 17.5rem;
    padding-bottom: 17.5rem;

    &__heading{
        margin-bottom: 6rem;
    }
    &__desc{
        font-size: 2rem;
        line-height: 1.75;
        width:66.7rem;
    }
}





//------------------------------------------product--------------------------------
.product{
    background : url(../src/assets/bes-bg.png);
    padding-top:15rem;
    padding-bottom: 20rem; 
    &__heading{
        text-align:center;
        margin-bottom: 5rem;
        color: $color-light-orange;
    }
    &__desc{
        color: $color-light-orange;
        text-align: center;
        margin: 0rem 20rem 7.5rem;
        font-size:2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
    }
    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item{
        width: 52.3rem;
        position: relative;
        &--icon{
            position: absolute;
            top: -4rem;
            left: 0rem;
            width:9rem;
            height: 9rem;
        }
        &--desc{
            position: absolute;
            bottom: -4rem;
            left: 6rem;
            right: 6rem;
            display: flex;
            align-items: center;
            padding: .7rem .8rem .6rem 2.7rem;
            background: $color-secondary;
            border: solid 3px #020001;
            >img{
                width:6.5rem;
                height:6.5rem;
            }
            >p{
                font-size:1.8rem;
                font-weight: 800;
                color: $color-primary;
                margin-right: 2rem;
            }
           
        }
    }
}




//----------------------------------product list----------------------------------------
.productlist{
    &__container {
        margin-top: 14.2rem;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-gap: 7.2rem 1.8rem ;
    }
   &__button{
       margin-top: 11.6rem;
       margin-bottom: 14.3rem;
        display: flex;
        justify-content: center;
   }

}
//----------------------------------see more btn----------------------------------------
.seemore{
    width: 20rem;
    height: 6rem;
    border: solid 3px #020001;
    background-color: transparent;
    font-size: 2.3rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: center;
}




//----------------------------------product card----------------------------------------
.productcard{
    color: $color-primary;
  
    &__title{
        font-size:1.8rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.94;
        letter-spacing: normal;
        margin-top: 2.9rem;
        margin-bottom: 2.9rem;
    }
    &__img{
        max-height: 21rem;
    }
    &__bottom{
        display: flex;
        justify-content:space-between;
        font-size: 1.6rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.19;
        letter-spacing: normal;
        text-align: left;
        &--right{
            display: flex;
            align-items:center;
        }
        &--icon{
            width:2rem;
            height:2rem;
            margin-right: .7rem;
        }

    }
}






//------------------------------------------story--------------------------------
.story{
    background: $color-blue;
    padding-top: 15rem;
    padding-bottom:17rem;
    position: relative;
    overflow: hidden;
    &__heading{
        color: $color-yellow;
        text-align: center;
        margin-bottom: 4rem;
    }
    &__desc{
        position: relative;
        color : $color-yellow;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        margin: 0rem 40rem 10rem 40rem;
        text-align: center;

    }
    &__main{
        width: 110rem;
        margin: 0 auto;
        display: flex;
        justify-content:center;
        position: relative;
        z-index: 99;
        >div{
            width: 50%;
            height: 37.5rem;
        }
        &--right{
            color: $color-primary;
            background: $color-secondary;
            padding-left: 4.5rem;
            padding-right: 4.5rem;
        }
        &--heading{
            font-size: 2.5rem;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.4;
            letter-spacing: normal;
            margin-top: 2.5rem;
            margin-bottom: 1.5rem;

        }
        &--desc{
            font-size: 1.6rem;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.88;
            letter-spacing: normal;
            text-align: left;
            color: #222;
            margin-bottom: 2rem;
        }
        &--button{
            margin-bottom: 7.5rem;
        }
    }
    &__object{
        &--1{
            width: 18rem;
            height:20rem;
            position:absolute;
            top: 20rem;
            left: 14rem;
 
        }
        &--2{
            width: 14.7rem;
            height:13.4rem;
            position:absolute;
            top: 6rem;
            right: 20rem;
        }
        &--3{
            width: 14.7rem;
            height:18.6rem;
            position:absolute;
            top: 9rem;
            right: 14rem;
            z-index: 10;
        }
        &--4{
            width: 28rem;
            height:45rem;
            position:absolute;
            top: 19rem;
            right: -10rem;
   
        }
        &--5{
            width: 21rem;
            height:15rem;
            position:absolute;
            top: 58rem;
            right: 0rem;
            z-index: 10;
        }
        &--6{
            width: 14rem;
            height:33rem;
            position:absolute;
            left: 0;
            top: 41rem;
        }
        &--7{
            width: 10rem;
            height:15rem;
            left: 14rem;
            bottom: 20rem;
            position:absolute;
        }
    }
}

//------------------------------------------issue--------------------------------
.issue{
    background-color: $color-yellow;
    color: $color-primary;
    padding: 16rem 0rem 14rem 0rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    &__heading{
        margin-bottom: 4rem;
        font-weight: bold;
    }
    &__desc{
        margin-bottom: 5.5rem;
        padding: 0 40rem 0 40rem;
    }
    &__button{
        margin-bottom: 12.8rem;
    }
    &__list{
        display: flex;
    }
    &__item{
        position: relative;
        text-transform: uppercase;
        &--big--heading{
            margin-top: 3rem;
            font-size: 5.5rem;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.04;
            letter-spacing: normal;
            text-align: center;
        }
        &--arrow{
            margin-top: 3rem;
            margin-bottom: 3rem;
            width:15rem;
            height: 15rem;
        }
        &--heading{
            font-size: 3rem;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            text-align: center;
            background-color: $color-primary;
            color: $color-secondary;
        }

    }
    &__object{
        &--1{
            position: absolute;
            width: 9.5rem;
            height: 9.5rem;
            top:4.3rem;
            right:7rem;
        }
        &--2{
            position: absolute;
            width: 12rem;
            height: 11rem;
            top:16rem;
            right:7rem;
        }
        &--3{
            position: absolute;
            z-index: 99;
            width: 14rem;
            height: 14rem;
            bottom:-9rem;
            right:-1rem;
        }
        &--4{
            position: absolute;
            z-index: 99;
            width: 10rem;
            height: 5rem;
            top:-2.7rem;
            left:2rem;
        }
        &--5{
            position: absolute;
            z-index: 99;
            width: 12rem;
            height: 9rem;
            bottom: -5rem;
            left:-8rem;
        }
    }
}

.orange{
    background-color: $color-orange;
}



//------------------------------------------video--------------------------------
.video{
    overflow:hidden;
    text-align: center;
    color: $color-primary;
    padding: 14.8rem 0 40rem 0 ;
    position: relative;
    &__heading{
        margin-bottom: 5rem;
    }
    &__desc{
        margin: 0 40rem 5.3rem 40rem;
        font-size: 2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
    }
    &__button{
        margin-bottom: 7.2rem;
    }
    &__img{
        width: 110rem;
    }
    &__object{
        &--1{
                position: absolute;
                width: 40rem;
                height: 20rem;
                z-index: 99;
                left: 23rem;
                bottom: 14.6rem;
        }
        &--2{
            position: absolute;
            width: 9rem;
            height: 8rem;
            right: 50rem;
            bottom: 27rem;
        }
        &--3{
            position: absolute;
            width: 14rem;
            height: 14rem;
            z-index: -1;
            left: 13rem;
            bottom: 30rem;
        }
        &--4{
            position: absolute;
            width: 40rem;
            height: 35rem;
            left: -22rem;
            top: 31rem;
        }
        &--5{
            position: absolute;
            width: 14rem;
            height: 11rem;
            left: 22rem;
            top: 0rem;
            z-index: -1;
        }
        &--6{
            width: 13rem;
            height: 13rem;
            position: absolute;
            top: 27rem;
            right: 24rem;
            z-index: 99;
        }
        &--7{
            width: 15rem;
            height: 15rem;
            position: absolute;
            top: 15rem;
            right: 13rem;
        }
        &--8{
            width: 40rem;
            height: 40rem;
            position: absolute;
         bottom: 24rem;
            right: -13rem;
            z-index: -1;
        }
        &--9{
            width: 30rem;
            height: 37rem;
            position: absolute;
         bottom: 53rem;
            right: -15rem;
            z-index: -2;
        }
    }
}
//------------------------------------------footer--------------------------------
.footer{
    color: $color-primary;
    &__container{
        margin-left: 17.5rem;
        margin-right: 17.5rem;
        padding-top:5rem;
        padding-bottom:6rem;
        display: flex;
        justify-content:space-between;
        border-top: 1px  solid #f4f4f4;
        border-bottom: 1px  solid #f4f4f4;

    }
    &__left{
        width:23.5rem;
    }
    &__right{
        margin-left: auto;
        display: flex;
        >div{
            width:10rem;
        }
        >:not(:last-child){
            margin-right: 5rem;
        }
    }
    &__heading{
        margin-bottom: 3.1rem;
    }
    &__copyright{
        display: flex;
        justify-content: space-between;
        margin: 2.2rem  17.5rem 11.3rem 17.5rem; 
        &--text{
            width:65rem;

        }
        &--list{
            display: flex;
            >:not(:last-child){
                margin-right:2.3rem;
            }
        }
        &--icon{
            width:2.4rem;
            height:2.4rem;
        }
    }
}






//------------------------------------------responsive--------------------------------

@media only screen and (max-width:70em){
    html{
        font-size: 50%;
    }
}
@media only screen and (max-width:69em){
    html{
        font-size: 45%;
    }
}
 
@media only screen and (max-width:52em){
    html{
        font-size: 40%;
    }
}   

@media only screen and (max-width:42em){
    html{
        font-size: 25%;
    }
    .productlist__container{
        grid-template-columns: repeat(3,1fr);
    } 
    .story__desc{
        margin: 0rem  10rem 10rem 10rem ;
        z-index: 99;
    }    
}


@media only screen and (max-width:25em){
    html{
        font-size: 20%;
    }
}

